*{
    box-sizing: border-box;
    word-spacing: 1.5px;
    letter-spacing: 0.5px;
}

*{
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

html {
    font-family:sans-serif ;
}
/*header top*/

.header-top {
    display: flex;
    justify-content: space-between;
}

.header-top-left {
    display: flex;
    align-items: center;
}

.header-number-phone {
    margin-left: 50px;
}

/*header-lover*/
.header-lower {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.nav-list {
    display: flex;
}

.nav-item:not(:last-child) {
margin-right: 40px;
}

/*offer*/

.offer {
    margin-top: 60px;
}

.do-tittle {
   margin-top: 0px;
    margin-bottom: 50px;
}


.offer-content-flex {
    display: flex;
    justify-content: space-between;
}

.container-offer {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 350px;
}

/*info*/
.info {
    margin-top: 50px;
}

/*services*/

.services {
    margin-top: 50px;
}

.services-list-one {
    display: flex;
}

.services-list-do {
    display: flex;
}
.services-item {
    flex: 1 1 50%;
}

.paragraph-services {
    margin-top: 30px;
}

.advantages-list {
    display: flex;
}

.advantages-list-do {
    display: flex;
}

.advantages {
    margin-top: 50px;
}

/*place*/
.accommodation {
    margin-top: 50px;
}

.accommodation-list {
display: flex;
}

.accommodation-list-do {
display: flex;
}

.accommodation-list-three {
display: flex;
}

.accommodation-hotel-list {
    flex: 1 1 33.33%;
}

.accommodation-list:not(:last-child) {
    margin-right: 10px;
}

